<!--
	ProgramPage In Check In App
	Created: 09/01/17 by Brendan Thompson
	Updated: 03/21/17 by Brendan Thompson

	Description:
		- Navigated to when the user chooses "Entrepreneurship"
 		- Asks the user to specify which program brought them in
		- Sends the selected program as a NavParam to teamMembersPage
		- If "I Have an Idea", goes to the form
 -->

<ion-header>
	<ion-navbar>
    	<ion-title>
    	</ion-title>
  		<ion-buttons right>
  			<button ion-button class="button-clear" (click)="goToScreenSaver()">
    			<ion-icon name="home">
    			</ion-icon>
    		</button>
  		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding class="background">

	<!-- Page Header -->
	<ion-row class="pageHeaderContainer">
		<img class="pageHeaderIcon" src="assets/img/check-in-icons/Entrepreneurship-RED.png" alt="Awesome Inc">
		<p class="pageHeaderText">Welcome, Entrepreneur!</p>
	</ion-row>

	<!-- Page Title -->
	<h1 class="pageTitle">Which program are you here for?</h1>

	<!-- Page Content -->
	<ion-grid>

		<!-- OLD DYNAMIC VERSION -->
		<ion-row>
			<ng-container *ngFor="let program of PROGRAMS">
				<ion-col col-6 *ngIf="program.include" (click)="goToProgram(program)">
					<ion-card class="card-style" [ngClass]="!program.selected ? 'card-red' : 'card-grey'">
						<ion-card-header class="cardHeader">
							{{ program.name }}
						</ion-card-header>
						<ion-card-content class="cardContent">
							<img src="{{ program.imageURL }}" alt="{{ program.imageAlt }}">

						</ion-card-content>
					</ion-card>
					<p class="pageHeaderDescription">{{ program.description }}</p>
				</ion-col>
			</ng-container>
		</ion-row>

		<!-- NEW HARDCODED VERSION -->
		<!-- <ion-row>
			<ng-container ng-init="program = getProgram('I have an idea!')";>
			<ion-col col-6 (click)="goToProgram(program)">
				<ion-card class="card-style card-red">
					<ion-card-header class="cardHeader">
						{{ program.name }}
					</ion-card-header>
					<ion-card-content class="cardContent">
						<img src="{{ program.imageURL }}" alt="{{ program.imageAlt }}">

					</ion-card-content>
				</ion-card>
				<p class="pageHeaderDescription">{{ program.description }}</p>
			</ion-col>
			</ng-container>
		</ion-row> -->

	</ion-grid>

</ion-content>