<!--
	ProgramPage In Check In App
	Created: 09/01/17 by Brendan Thompson
	Updated: 12/13/17 by Brendan Thompson

	Description:
 		Asks the user to specify which program brought them in
		Sends the selected program as a NavParam to teamMembersPage
 -->

<ion-header>
	<ion-navbar>
    	<ion-title>
    	</ion-title>
  		<ion-buttons right>
  			<button ion-button class="button-clear" (click)="goToScreenSaver()">
    			<ion-icon name="home">
    			</ion-icon>
    		</button>
  		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content padding class="background">
	<ion-row class="pageHeader">
		<ion-col col-1 offset-3>
			<img class="headerIcon" src="assets/img/check-in-icons/Entrepreneurship-RED.png" alt="Awesome Inc">
		</ion-col>
		<ion-col col-5>
			<h2 class="pageTitle">Welcome, Entrepreneur!</h2>
		</ion-col>
	</ion-row>

	<h1>Which program are you here for?</h1>

	<ion-grid>
		<ion-row>
			<ng-container *ngFor="let program of PROGRAMS">
				<ion-col col-12 col-sm *ngIf="program.include" (click)="goToProgram(program)">
					<ion-card class="card-style card-red">
						<ion-card-header class="cardHeader">
							{{ program.name }}
						</ion-card-header>
						<ion-card-content class="cardContent">
							<img src="{{ program.imageURL }}" alt="{{ program.imageAlt }}">

						</ion-card-content>
					</ion-card>
					<p>{{ program.description }}</p>
				</ion-col>
			</ng-container>
		</ion-row>
	</ion-grid>

</ion-content>