page-teamMembers {

	.thunderFont{
		color: $thunder-black;
	}

	.teamMemberIcon{
		border-radius: 50%;
		padding-top: 2%;
		width:25%;
		height:auto;
	}

	.submitButton {
		border-radius: 20px;
		height:120px;
		font-size: 300%;
		font-family: Exo;
		font-weight: 600;
	}

	.nobodyCard{
		padding-top: 5%;
	}
}
