page-teamMembers {

	.thunderFont{
		color: $thunder-black;
	}

	.teamMemberIcon{
		border-radius: 50%;
		padding-top: 1%;
		width:25%;
		height:auto;
	}

	.submitButton {
		@extend .card-style;
		@extend .card-red;
		// height:135px;
		height: 90%;
		margin-top:10px;
		font-size: 300%;
		font-weight: 600;
	}

	.nobodyCard{
		padding-top: 5%;
	}
}
