<!--
	TeamMembersPage In Check In App
	Created: 09/01/17 by Brendan Thompson
	Updated: 01/11/18 by Brendan Thompson

	Description:
		Asks the user to fill out a FormGroup regarding which TEAMMEMBERS they are expecting to meet with
		Passes the completed form as a NavParam to userInfoPage which passes it to the confirm page
 -->

<ion-header>
	<ion-navbar>
    	<ion-title>
    	</ion-title>
  		<ion-buttons right>
  			<button ion-button class="button-clear" (click)="goToScreenSaver()">
    			<ion-icon name="home"></ion-icon>
    		</button>
  		</ion-buttons>
  	</ion-navbar>
</ion-header>

<ion-content padding class="background">

	<!-- Page Header -->
	<ion-row class="pageHeaderContainer">
		<img class="pageHeaderIcon" src="{{ this.currentProgram.imageURL }}" alt="{{ this.currentProgram.imageAlt }}">

		<p class="pageHeaderText">{{ this.currentProgram.name }}</p>
	</ion-row>

	<!-- Header Description -->
 	<p class="pageHeaderDescription">{{ this.currentProgram.description }}</p>

	<!-- Page Title -->
	<h1 class="pageTitle" style="font-size:250%">Please select the team members that are expecting you</h1>

	<!-- Original Checklist -->
	<!-- <form [formGroup]="currentMemberFormGroup">
		<ion-item-group formGroupName="teamMembers">
			<ion-item *ngFor="let member of TEAMMEMBERS">
				<ion-label><b>{{ member.name }}</b> : {{ member.description }}</ion-label>
				<ion-checkbox color="red" formControlName="{{ member.tag }}"></ion-checkbox>
				<ion-thumbnail item-end>
					<img class="teamMemberIcon" src="{{ member.imageURL }}" alt="{{ member.imageAlt }}">
				</ion-thumbnail>
			</ion-item>
		</ion-item-group>

		<button ion-button block [disabled]="!currentMemberFormGroup.valid" (click)="submitTeamMembers(currentMemberFormGroup)">Submit</button>
	</form> -->

	<!-- New Layout -->
	<form [formGroup]="currentMemberFormGroup">

		<!-- Team Members -->
		<ion-item-group formGroupName="teamMembers">
		<ion-row>
			<ion-col col-4 *ngFor="let member of TEAMMEMBERS">
			<ion-card (click)="cardClicked(member.tag)" class="card-style" [ngClass]="getSelectStatus(member.tag) ? 'card-red' : 'card-grey'">
				<img class="teamMemberIcon" src="{{ member.imageURL }}" alt="{{ member.imageAlt }}">
				<h1 class="cardHeader">{{ member.name }}</h1>
				<p class="cardContent thunderFont">{{ member.description }}</p>
			</ion-card>
			</ion-col>
		</ion-row>
		</ion-item-group>


		<!-- Nobody & Submit -->
		<ion-row>
			<ion-col col-6>
				<ion-card class="card-style" style="height:115px;" (click)="cardClicked('Nobody')" class="card-style" [ngClass]="getSelectStatus('Nobody') ? 'card-red' : 'card-grey'">
					<div class="nobodyCard">
						<h1 class="cardHeader">NOBODY YET</h1>
						<p class="cardContent thunderFont">Set up a meeting</p>
					</div>
				</ion-card>
			</ion-col>
			<ion-col col-6>
				<button ion-button block class="submitButton" [disabled]="!currentMemberFormGroup.valid" (click)="submitTeamMembers(currentMemberFormGroup)">Submit</button>
			</ion-col>
		</ion-row>
	</form>

</ion-content>
