// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/*****************************************************
						Fonts
*****************************************************/

@font-face{
	font-family: Exo;
	src: url('../assets/fonts/exo-font.woff2') format('woff2');
	font-style: black, normal;
	weight: 400, 500, 900;
}

/*****************************************************
						Colors
*****************************************************/

// Color Names from "Name That Color" chir.ag/projects/name-that-color
$thunder-black: #231F20;
$mine-shaft-gray: #323232;	// Background Color
$oslo-gray: #939598;	// Light Gray Cards
$white: #FFFFFF;
$amaranth-red: #ED3742;

/*****************************************************
						Styles
*****************************************************/
// Index:
// 	- Basic Page Styles
// 	- Navbar
// 	- Page Header
// 	- Cards
// =====================================
// =====================================
// =====================================


// =====================================
// Basic Page Styles
// =====================================

.background {
	background-color: $mine-shaft-gray;
}

// Image Containment
img {
	display: block;
	margin: 0 auto;
}

// =====================================
// Navbar
// =====================================

// NavBar Image
.navbarImage {
	width: 200px;
	height: auto;
}

// NavBar color
.toolbar-background {
    background-color: $mine-shaft-gray;
}

// =====================================
// Page Header
// =====================================

.pageHeaderContainer {
	justify-content: center;
}

.pageHeaderIcon {
	height: 75px;
	width: auto;
	margin: 0px;
	margin-right: 10px;
}

.pageHeaderText {
	font-size: 250%;
	font-weight: 900;
	color: $white;
	font-style: black;
	font-family: Exo;
	text-align:left;
	text-transform: uppercase;

	margin-top: 20px;
	margin-bottom: 0px;
}

.pageHeaderDescription {
	font-size: 150%;
	font-weight: 500;
	color: $white;
	font-family: Exo;
	text-align:center;

	margin-bottom: 10px;
}

.pageTitle {
	font-size: 300%;
	font-weight: 400;
	color: $white;
	font-family: Exo;
	text-align:center;

	margin-top: 5px;
}

// =====================================
// Cards
// =====================================

.cardFont {
	color: $mine-shaft-gray;
	font-family: Exo;
	text-align:center;
	text-transform: uppercase;
}

.cardHeader {
	@extend .cardFont;
	font-size: 150%;
	font-weight: 600;
}

.cardContent {
	@extend .cardFont;
	font-size: 100%;
	font-weight: 500;

	height: 100%;
}

.card-style {
	border-radius: 20px;
}

.card-red {
	background: $amaranth-red;
}

.card-grey {
	background: $oslo-gray;
}


