// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/*****************************************************
						Fonts
*****************************************************/

@font-face{
	font-family: Exo;
	src: url('../assets/fonts/exo-font.woff2') format('woff2');
}

/*****************************************************
						Colors
*****************************************************/


/*****************************************************
						Styles
*****************************************************/

// Background
.background {
	background-color: #323232;
}

// NavBar
.headerImage {
	width: 200px;
	height: auto;
}

// Page Header
.pageHeader {
	text-align: center;
	height: 110px;
}

.headerIcon {
	width: auto;
	height: 90%;
}

.pageTitle {
	font-size: 400%;
	color: #fff;
	font-family: Exo;
	font-weight: 900;
	text-transform: uppercase;
}

// Card Header
.cardHeader {
	text-align:center;
	font-size: 150%;
	color: #323232;
	font-family: Exo;
	font-weight: 600;
	text-transform: uppercase;
}

// Card Content
.cardContent {
	text-align:center;
	height: 100%;
	color: #323232;
	font-family: Exo;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 100%;
}

.card-style {
	border-radius: 20px;
}

.card-red {
	background: #ED3742;
}

img {
	display: block;
	margin: 0 auto;
}

h1 {
	text-align:center;
	font-size: 500%;
	color: #fff;
	font-family: Exo;
	font-weight: 600;
}

p {
	text-align:center;
	color: #fff;
	font-family: Exo;
	font-weight: 500;
	font-size: 200%;
}


