<!--
	ConfirmPage In Check In App
	Created: 09/01/17 by Brendan Thompson
	Updated: 01/11/18 by Brendan Thompson

	Description:
		Asks the User to confirm their user info and selected team members
		Sends the corresponding notifications
 -->

<ion-header>
	<ion-navbar>
    	<ion-title>
    	</ion-title>
  		<ion-buttons right>
  			<button ion-button class="button-clear" (click)="goToScreenSaver()">
    			<ion-icon name="home">
    			</ion-icon>
    		</button>
  		</ion-buttons>
  	</ion-navbar>
</ion-header>

<ion-content padding class="background">

	<!-- Page Header -->
	<ion-row class="pageHeaderContainer">
		<img class="pageHeaderIcon" src="{{ this.currentProgram.imageURL }}" alt="{{ this.currentProgram.imageAlt }}">

		<p class="pageHeaderText">{{ this.currentProgram.name }}</p>
	</ion-row>

	<!-- Header Description -->
 	<p class="pageHeaderDescription">{{ this.currentProgram.description }}</p>

	<!-- Page Title -->
	<h1 class="pageTitle">Please verify the following information:</h1>

	<!-- Original Version -->
		<!-- User Info -->
		<!-- <ion-item-group>
			<ion-item><b>Personal Information:</b></ion-item>
			<ion-item>
				<h3>Name:</h3>
				<p>{{ this.userName }}</p>
			</ion-item>
			<ion-item>
				<h3>Email:</h3>
				<p>{{ this.userEmail }}</p>
			</ion-item>
			<ion-item>
				<h3>Reason:</h3>
				<p>{{ this.userReason }}</p>
			</ion-item>
		</ion-item-group> -->

		<!-- <br> -->

		<!-- Team Members -->
		<!-- <ion-item-group>
			<ion-item><b>Selected Team Members:</b></ion-item>

			<ng-container *ngFor="let member of TEAMMEMBERS">
				<ion-item *ngIf="currentMemberFormGroup.get('teamMembers').get(member.tag).value">
					<ion-label><b>{{ member.name }}</b> : {{ member.description }}</ion-label>
					<ion-thumbnail item-end>
						<img class="teamMemberIcon" src="{{ member.imageURL }}" alt="{{ member.imageAlt }}">
					</ion-thumbnail>
				</ion-item>
			</ng-container>
		</ion-item-group>

		<button ion-button block type="submit" (click)="submitCheckIn()">Submit</button> -->

	<!-- New Version -->
	<ion-grid>
		<ion-row>

			<!-- User Info -->
			<ion-col col-8>
				<h3 class="pageHeaderDescription">Personal Information:</h3>
				<ion-list>
					<ion-card class="card-style card-grey">
					<ion-grid>
						<ion-row>
							<ion-col col-3>
								<p class="userInfoText">NAME:</p>
							</ion-col>
							<ion-col col-9>
								<p class="userInfoText">{{ this.userName }}</p>
							</ion-col>
						</ion-row>
					</ion-grid>
					</ion-card>

					<ion-card class="card-style card-grey">
					<ion-grid>
						<ion-row>
							<ion-col col-3>
								<p class="userInfoText">EMAIL:</p>
							</ion-col>
							<ion-col col-9>
								<p class="userInfoText">{{ this.userEmail }}</p>
							</ion-col>
						</ion-row>
					</ion-grid>
					</ion-card>

					<ion-card class="card-style card-grey">
					<ion-grid>
						<ion-row>
							<ion-col col-3>
								<p class="userInfoText">REASON:</p>
							</ion-col>
							<ion-col col-9>
								<p class="userInfoText">{{ this.userReason }}</p>
							</ion-col>
						</ion-row>
					</ion-grid>
					</ion-card>
				</ion-list>
			</ion-col>

			<!-- Team Members -->
			<ion-col col-4>
				<h3 class="pageHeaderDescription">Selected Team Members:</h3>

				<ion-grid class="noMarginOrPadding">
				<ion-row>
					<ng-container *ngFor="let member of TEAMMEMBERS">
					<ion-col col-6 *ngIf="currentMemberFormGroup.get('teamMembers').get(member.tag).value" class="noMarginOrPadding">
						<ion-card class="card-style card-grey noMarginOrPadding">
							<img class="teamMemberIcon" src="{{ member.imageURL }}" alt="{{ member.imageAlt }}">
							<h1 class="cardHeader teamMemberTitle">{{ member.name }}</h1>
							<p class="cardContent teamMemberDescription">{{ member.description }}</p>
						</ion-card>
					</ion-col>
					</ng-container>
				</ion-row>
				</ion-grid>

			</ion-col>

			<button ion-button block class="submitButton" type="submit" (click)="submitCheckIn()">Submit</button>
		</ion-row>
	</ion-grid>

</ion-content>
